.main-content {
    width: 100%;
    height: 100%;
    margin: auto;

    padding: 30px;

    .adsAndMovie{
        display: flex;
        flex-direction: row;

    .content{
        display: flex;
        flex-direction: column;
        width: 1450px;
        height: 100%;
        min-height: 470px;
        background-color: white;
        padding: 20px 10px 20px 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .movie{
            width: 1400px;
            margin-left: 15px;
        }
    }
    .pag{
        padding-top: 20px;
        margin-top: 40px;
        margin-left: 650px;
        color: white;
    }

    .adsContent{
        height: 100%;
        margin-left: 20px;
    }
}
}


@media only screen and (min-width: 320px) and (max-width: 768px) {
    .main-content {
        width: 94%;
        padding: 8px;

        .adsAndMovie{
            display: flex;
            flex-direction: row;
            .content{
                width: 355px;
                height: 100%;
                padding: 10px 10px 10px 0px;
                .movie{
                    width: 900px;
                    margin-left: 15px;
                }
        }
    }
    }
}